
@mixin display-flex($direction: row, $justify: normal, $flex: 0 0 auto, $align: unset) {
  display: flex;
  flex: $flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}